<agm-map [latitude]="location.latitude"
         [longitude]="location.longitude"
         [zoom]="location.zoom"
         (mapClick)="addMarker($event)">
  <agm-marker *ngFor="let marker of location.markers"
              [latitude]="marker.latitude"
              [longitude]="marker.longitude"
              (markerClick)="selectMarker($event)">
    <agm-info-window [disableAutoPan]="true">{{marker.label}}</agm-info-window>
  </agm-marker>
</agm-map>
<agm-polyline [strokeColor]="'#2196f3'" [visible]="true" [strokeWeight]="3" *ngIf="searchResult" [editable]="false">
  <ng-container *ngFor="let point of getStepsFromSearchResult()">
    <agm-polyline-point [latitude]="point.startLocation.latitude" [longitude]="point.startLocation.longitude">
    </agm-polyline-point>
    <agm-polyline-point [latitude]="point.endLocation.latitude" [longitude]="point.endLocation.longitude">
    </agm-polyline-point>
  </ng-container>
  
</agm-polyline>
